<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
    {{mensagem}}
</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/new" class="btn btn-primary">Nova foto</a>
                </span>
                <input ng-model="filtro" class="form-control" ng-model-options="{debounce: 500}" placeholder="Filtrar">
            </div>
        </form>
    </div><!-- fim col-md-12 -->
</div><!-- fim row -->

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}">Editar</a>
        <meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo>
    </meu-painel>
</div>

<meus-titulos></meus-titulos>
